<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">

      <ion-content>

        <ion-list id="inbox-list">
          <ion-list-header style="border-bottom: 1px solid #c3c0c0">


<ion-menu-toggle auto-hide="false"  >

  <ion-button style="height:111px"    routerLink='/home'>
        <img src="../assets/images/logo.png"  style="padding-bottom: 10px;max-width:90%" />
  </ion-button>

</ion-menu-toggle>


          </ion-list-header>
 
        <ion-menu-toggle auto-hide="false" >
            <ion-item button    (click)="socialShare()" lines="none"
              detail="false" >
              <ion-icon color="primary" slot="start"  name="share-social-sharp"></ion-icon>
              <ion-label>ऍप शेयर करें</ion-label>
            </ion-item>
        </ion-menu-toggle>



         <ion-menu-toggle auto-hide="false" >
            <ion-item button    (click)="openAppLink()" lines="none"
              detail="false" >
              <ion-icon color="primary" slot="start"  name="download-sharp"></ion-icon>
              <ion-label>ऍप अपडेट करें</ion-label>
            </ion-item>
        </ion-menu-toggle>




         <ion-menu-toggle auto-hide="false" >
            <ion-item button    (click)="openAppLink()" lines="none"
              detail="false" >
              <ion-icon color="primary" slot="start"  name="star-sharp"></ion-icon>
              <ion-label>रेटिंग दें</ion-label>
            </ion-item>
        </ion-menu-toggle>


        <ion-menu-toggle auto-hide="false" >
            <ion-item button   [routerLink]="['/', 'radio']" lines="none"
              detail="false" >
              <ion-icon color="primary" slot="start"  name="radio-sharp"></ion-icon>
              <ion-label>रेडियो/एफएम </ion-label>
            </ion-item>
        </ion-menu-toggle>


      <ion-menu-toggle auto-hide="false" >
            <ion-item button   [routerLink]="['/', 'live-tv']" lines="none"
              detail="false" >
              <ion-icon color="primary" slot="start"  name="tv-sharp"></ion-icon>
              <ion-label>लाइव टीवी </ion-label>
            </ion-item>
        </ion-menu-toggle>



          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">

            <ion-item     [routerLink]="[p.url]" lines="none"
              detail="false" >
              <ion-icon color="primary" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          
          </ion-menu-toggle>



    <ion-list-header class="mt-2 mb-2" style="border-top: 1px solid #c3c0c0;border-bottom: 1px solid #c3c0c0">


<ion-menu-toggle auto-hide="false"  >

  <ion-button style="height:62px"    (click)="exitApp()">
        <ion-icon name="power-sharp"></ion-icon>&nbsp; &nbsp;Exit from News Bank
  </ion-button>

</ion-menu-toggle>


          </ion-list-header>



    <ion-list-header class="mt-2 mb-2"  >


<ion-menu-toggle class="text-center" auto-hide="false"  >

  <div class="text-center" style="width: 65vw;">

   Powered By : <br> <b>Independent News Group</b>

  </div>


</ion-menu-toggle>


          </ion-list-header>




        </ion-list>

         

      </ion-content>

    </ion-menu>

    <ion-router-outlet id="main-content"></ion-router-outlet>

  </ion-split-pane>
</ion-app>