<ion-app>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title size="small">{{latest_news?.district.title}}</ion-title>
  </ion-toolbar>
</ion-header>
 



<ion-content   class="ion-no-padding">


<ion-row lines="none"  button *ngFor="let ad of ads?.ads" >

     <app-ad-item [ad]="ad" ></app-ad-item>
 
  </ion-row>






<ion-row lines="none"  button *ngFor="let item of latest_news?.news.data" >

    


         <app-news-item [item]="item" style="width:100%"></app-news-item>


  </ion-row>


     

 

<div id="skeleton" *ngIf="!latest_news">
   

  <ion-list>
     
    <ion-item *ngFor="let skelton_list_item of skelton_list_items" >
     <!--  <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar> -->
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
         </p>
      </ion-label>
    </ion-item>

  </ion-list>

 
</div>
 



 
 

</ion-content>	

 




   <div class="modal fade" id="custom_ad_modal" data-backdrop="false">
  <div class="modal-dialog " role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5> -->

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="custom_ad_modal_body"></div>
      </div>
      
    </div>
  </div>
</div>

 
 
</ion-app>
